.portfolio {
	display: flex;
	flex-direction: column;
	padding: 0 0 150px 40px;

	&__subtitle {
		margin: 0;
	}

	&__sectionTitle {
		font-weight: 300;
		font-size: 22px;
		margin: 10px 0;
	}

	&__uiSection {

		&__firstRow, &__secondRow {
			display: flex;
			max-width: 1200px;
			width: 100%;
		}

		&__firstRow {

			img {
				width: 33%;
				object-fit: contain;
				cursor: pointer;
			}
		}

		&__secondRow {
	
			img {
				width: 50%;
				object-fit: contain;
				cursor: pointer;
			}
		}
	}

	&__cmSection {
		display: flex;
		max-width: 1200px;
		width: 100%;

		img {
			width: 50%;
			object-fit: contain;
			cursor: pointer;
		}
	}
}