.experience {
	display: flex;
	gap: 40px;
	padding: 50px 0 20px 40px;

	&__section {

		&__title {
			margin: 50px 0 0 0;
		}

		&__list {
			list-style: none;
			padding: 0;

			&__item {
				display: flex;
				gap: 20px;
				margin: 0 0 30px 0;

				svg {
					color: #D07C00;
					min-width: 40px;
					font-size: 40px;

					&.briefcase {
						font-size: 35px;
					}
				}

				&__content {

					&__title, &__subtitle {
						margin: 0;
					}

					&__title {
						font-size: 22px;
						color: #D07C00;
					}

					&__subtitle {
						font-size: 22px;
					}

					&__description {
						margin: 10px 0 0 0;
						font-size: 18px;
					}
				}
			}
		}
	}
}