@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

body {
	/* height: 100vh; */
	margin: 0;
	background-color: #012958;
	/* background: linear-gradient(180deg, #012958 0%, #000 260%); */
}

html {
	scroll-behavior: smooth;
}

body > * {
	font-family: Montserrat;
}